.search {
  margin: 0 10px 50px;
}
.search input {
  border: 1px solid #4261fe;
  padding: 10px;
  width: 250px;
  font-size: 0.9rem;
  color: #4261fe;
  font-weight: 600;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 15px;
}
.search input:focus {
  outline: none;
  box-shadow: rgba(2, 107, 227, 0.795) 0px 0px 0px 3px;
}
.search button {
  padding: 8px;
  font-size: 1rem;
  background-color: #4261fe;
  color: #fff;
  border: none;
  border-radius: 12px;
  border: 1px solid #4261fe;
  cursor: pointer;
}
.search button:hover {
  box-shadow: rgba(2, 107, 227, 0.795) 0px 0px 0px 3px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .search  {
    width:440px;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  .search button{
    width: 50px;
    margin-right: 10px;
    border-radius: 15px;
  }
}

